@page {
    margin-left: 1.18in;
    margin-right: 0.59in;
    margin-top: 0.79in;
    margin-bottom: 0.79in
}

P {
    direction: ltr;
    widows: 2;
    orphans: 2;
    font-size: 14px;
    text-align: justify;
    text-indent: 0.49in;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 150%;
}

.pimage {
    text-align: center;
    margin-top: 0.17in;
    margin-bottom: 0.17in;
}

h4 {
    text-align: center;
    margin-bottom: 0.1in;
}

h5 {
    text-align: center;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
}

ul {
    font-size: 14px;
    text-align: justify;
    text-indent: 0.49in;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 150%;
}

li {
    font-size: 14px;
    text-align: justify;
    text-indent: 0.49in;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 150%;
}